*{
    margin: 0;
    padding: 0;

    font-family: "Montserrat", sans-serif;
}

:root{
    --roxo-100: #ded0f173;
    --roxo-200: #8E35FF;
    --roxo-300: #5A13B4;
    --roxo-400: rgb(59, 18, 112); 
    
    --branco-300: #ffffff;

    --dourado-300: #CC7F0B;
}

a{
    color: var(--roxo-300);
    font-size: 0.875rem;
    text-decoration: none;
}

h1, h2, p, span{
    color: var(--roxo-400);
}

h1{
    font-size: 1.5rem;
    font-weight: 400;
}


header{
    margin: 2% 15%;
}

.menuNavegacao{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

#apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#apresentacao > div {
    width: 750px;
}

.tituloBloco {
    font-size: 2.5rem;
    color: #5A13B4;
    font-weight: bold;
    margin-bottom: 10px;
}


.paragrafo {
    font-size: 1.4rem;
    color: #5A13B4;
}

.marginContainer {
    margin: 8% 17%;
    margin-top: 8%;
    margin-bottom: 8%;
}

.skillContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.skill{
    padding: 10px 48.7px;
    border:  none;
    
}

.Skills h3{
    color: var(--white-300);
    text-align: center;
}

.marginContainer{
    margin: 8% 5%;
}

.skillContainer{
    gap: 25px;
}

.Skill{
    padding: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 45%;
    height: 170px;
}

.skill img{
    width: 110px;
}    

.skill h3{
    width: 65%;
    font-size: 1.1rem;
    
 }


footer{
    background-color: var(--roxo-100);
    display: flex;
    justify-content: center;
    padding: 2%;
}

.tamanhoSecao{
        margin: 4% 15%;
}


/*Cabeçalho*/
.Skills {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    
}

/*Sim Título*/


/*Carrossel de Cursos*/
.displayCarrossel {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 5%;
    margin-bottom: -50px;
}

.posicaoPersonagem{
    position: relative;
    top: -50px;
}

.preenchimentoCursos{
    padding: 3% 0;
}

.tamanhoTituloCarreira{
    font-size: 2rem;
}

.letraBranca{
    color: var(--branco-300);
}

.tamanhoTituloSoftSkills{
    font-size: 1.4rem;
}

.containerNomeCursos{
    display: flex;
    padding: 3%;
    width: 100%;
    gap: 40px;
    background-color: #ffffff5c;
    margin: 5% 0 10%;
}

.containerBotoes{
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.containerSoftSkills{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    gap: 5%;
    width: 105%;
}

.containerSkills{    
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.textoSkills{
    opacity: 0.7;
    font-size: 1.3rem;
}

.containerNivelSkills{
    display: flex;
    align-items: flex-end;
    gap: 15px;
}

.tamanhoEstrela{
    scale: 1.5;
}

.botaoInscrever{
    background-color: var(--roxo-200);
    color: var(--branco-300);
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 2% 0;
    position: relative;
    top: 45px;
}

/*Fim Carrossel de Cursos*/



/*Blog*/

.containerPostBlog{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3%
}

.corTexto{
    color: var(--dourado-300);
}

.containerBotao{
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    max-width: 340px;
    transition: transform 0.5s, box-shadow 0.5s;
}

.containerBotao:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(59, 18, 112, 0.2);
}

.containerTituloPost{
    padding: 4%;
}

.containerInformacoesPost{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}