*{
    margin: 0;
    padding: 0;

    font-family: "Montserrat", sans-serif;
}

:root{
    --roxo-100: #ded0f173;
    --roxo-200: #8E35FF;
    --roxo-300: #5A13B4;
    --roxo-400: rgb(59, 18, 112); 
    
    --branco-300: #ffffff;

    --dourado-300: #CC7F0B;
}

a{
    color: var(--roxo-300);
    font-size: 0.875rem;
    text-decoration: none;
}

h1, h2, p, span{
    color: var(--roxo-400);
}

h1{
    font-size: 1.5rem;
    font-weight: 400;
}


header{
    margin: 2% 15%;
}

.menuNavegacao{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

#apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#apresentacao > div {
    width: 750px;
}

.tituloBloco {
    font-size: 2.5rem;
    color: #5A13B4;
    font-weight: bold;
    margin-bottom: 10px;
}


.paragrafo {
    font-size: 1.4rem;
    color: #5A13B4;
}

.marginContainer {
    margin: 8% 17%;
    margin-top: 8%;
    margin-bottom: 8%;
}

.skillContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.skill{
    padding: 10px 48.7px;
    border:  none;
    
}

.Skills h3{
    color: var(--white-300);
    text-align: center;
}

.marginContainer{
    margin: 8% 5%;
}

.skillContainer{
    gap: 25px;
}

.Skill{
    padding: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 45%;
    height: 170px;
}

.skill img{
    width: 110px;
}    

.skill h3{
    width: 65%;
    font-size: 1.1rem;
    
 }


footer{
    background-color: var(--roxo-100);
    display: flex;
    justify-content: center;
    padding: 2%;
}

.tamanhoSecao{
        margin: 4% 15%;
}


/*Cabeçalho*/
.Skills {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    
}






